*{
    
}
.row {
    margin-top: 50px;
}
.nav{
    background-color: #AAE6D9 !important;
}
.search_nav{
    background-color: rgba(255, 255, 255, 0.329);
    border: solid 1px;
}

.textcentroHV{
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer_class{
    background-color: #AAE6D9 !important;
    --bs-gutter-x: 0rem;

}
a{
    text-decoration: none !important;
    color: black;   
}
